.Users {
    border: black 2px solid;
    padding: 1rem; 
}

.Users ul {
    margin: 3rem;
    list-style-type: none;
}

.Users li {
    margin-bottom: 2rem;
}

.btn {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 1rem;
    font-size: 0.75rem;
}

.btn:hover {
    color: dimgrey;
}

h1 {
    text-align: center;
}